{% extends "layout.html" %}

{% block title %}
Assignment - {{ assignment.title }}
{% endblock %}

{% block main %}

<section class="section" style="background-color: hsl(171, 100%, 41%);">
  <h1 class="title">Assignment</h1>
  <p><span class="bold">Teacher: </span>{{class_info.suffix }} {{ class_info.teacher_surname }}</p>
  <p><span class="bold">Subject: </span>{{ class_info.subject}}</p>
  <p><span class="bold">Date set: </span>{{ assignment.date_set }}</p>
  <p><span class="bold">Date due: </span>{{ assignment.due_date }}</p>
</section>

<section class="section">
  <div class="block">
    {% include "flash.html" %}
    <h1 class="title">
      {{ assignment.title }}
    </h1>
    <p><span class="bold">Assignment details<br></span>{{ assignment.description }}</p>
  </div>

  <!-- Only display if there are resources attached -->
  {% if assignment.attachment_name %}
  <div class="block">
    <span class="bold">Attachment</span>
    <br>
    <button class="button">
      <span class="icon"><i class="fa-solid fa-download"></i></span>
      <span>
        {{ assignment.attachment_name }}
      </span>
    </button>
  </div>
  {% endif %}

  {% if user_info.is_student %}
  <!-- For students: show the file attached with the assignment and a button to mark the assignment as complete. -->

  {% if completed %}
  <div class="message is-success">
    <div class="message-header">You have submitted this assignment.</div>
  </div>
  {% endif %}

  <div class="block">
    <a href="/assignment/{{ class_info.id }}/{{ assignment.id }}/download-attachment" target="_blank">
      <button class="button">
        <span class="icon"><i class="fa-solid fa-download"></i></span>
        <span>
          Download attachment
        </span>
      </button>
    </a>
    <br><br>
    <a href="/assignment/{{ class_info.id }}/{{ assignment.id }}/mark-as-completed">
      <button class="button is-primary">
        <span class="icon"><i class="fa-solid fa-check"></i></span>
        <span>
          Mark as complete
        </span>
      </button>
    </a>
  </div>

  {% else %}

  <!-- For teachers: list of students who have submitted their work. A second list of those who have not. -->
  <div class="block">
    <span class="bold">Students who have marked this assignment as complete:</span>
    <ul>
      {% if submitted %}
      {% for student in submitted %}
      {% if student[2] == 1 %}
      <li>{{ student[0].capitalize() }} {{ student[1].capitalize() }}</li>
      {% endif %}
      {% endfor %}
      {% else %}
      <li>No students have marked this assignment as complete.</li>
      {% endif %}
    </ul>
  </div>

  <div class="block">
    <span class="bold">Students who have not marked this assignment as complete:</span>
    <ul>
      {% for student in submitted %}
      {% if student[2] == 0 %}
      <li>{{ student[0].capitalize() }} {{ student[1].capitalize() }}</li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</section>

<script>
  const fileInput = document.querySelector('#file-js-example input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#file-js-example .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }
</script>

{% endblock %}