{% extends "layout.html" %} 

{% block title %} 
    Class - {{ None }}
{% endblock %} 

{% block main %} 

    <section class="section" style="background-color: hsl(171, 100%, 41%);">
        <h1 class="title">{{ "Subject name - Year x" }}</h1>
    </section>

    <section class="section">
        <div class="tabs is-large">
            <ul>
                <li class="is-active"><a>Pending</a></li>
                <li><a>Overdue</a></li>
            </ul>
        </div>

        <div>
            {% for i in range(4) %} 
                <div class="box">
                    <span class="tag is-warning">{{ "Due soon" }}</span>
                    <p class="title" style="margin-top: 24px;">{{ "Title of assignment" }}</p>
                    <p>{{ "Due date dd/mm/yyyy" }}</p>
                    <p>{{ "Details of the assignment" }}</p>
                    <p>{{ "n attachments" }}</p>
                </div>
            {% endfor %}
        </div>

        
    </section>
    
    <section class="section">
        <div>
            <div class="tabs is-large">
                <ul>
                    <li class="is-active"><a>Resources</a></li>
                </ul>
            </div>
        </div>

        
    </section>




    <script src="../static/js/class_page.js"></script>

{% endblock %}