{% extends "layout.html" %}

{% block title %}
    Student Home
{% endblock %}


{% block main %}
        <section class="section" style="background-color: hsl(171, 100%, 41%);">
            <h1 class="title">Welcome, {{ user_info.first_name.capitalize() }}</h1>
            <p><span class="bold">Username: </span>{{ user_info.username }}</p>
            <p><span class="bold">Year group: </span>{{ user_info.year_group }}{{ user_info.section }}</p>
        </section>
        
        <section class="section" style="background-color: #f5f5f5;">
            <h1 class="title">Your classes</h2>
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-parent">    
                    {% for j in classes %}
                    
                        <div class="tile is-child">
                            <div class="box class-group">
                                <p class="title">{{ j[1] }}</p>
                                <p><span class="bold">Teacher: </span>{{ j[2] }}</p>
                                <p><span class="bold">Subject: </span>{{ j[4] }}</p>
                                <p><span class="bold">Assignments due: </span>TODO</p>
                                <p><span class="bold">Overdue: </span>TODO</p>  
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>

        </section>
    </div>

{% endblock %}