{% extends "layout.html" %}

{% block title %}
    Student Home
{% endblock %}


{% block main %}
        <section class="section">
            <h1 class="title">Welcome, {{ user_info.first_name.capitalize() }}</h1>
            <p><span class="bold">Username: </span>{{ user_info.username }}</p>
            <p><span class="bold">Year group: </span>{{ user_info.year_group }}{{ user_info.section }}</p>
        </section>
        
        <section class="section">
            <h1 class="title">Your classes</h2>
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-parent">
                    <div class="tile is-child">
                        <div class="box class-group">
                            <p class="title">Maths</p>
                            <p><span class="bold">Teacher: </span>Mr. Doe</p>
                            <p><span class="bold">Assignments due: </span>3</p>
                            <p><span class="bold">Overdue: </span>1</p>
                        </div>
                    </div>

                    <div class="tile is-child">
                        <div class="box class-group">
                            <p class="title">Biology</p>
                            <p><span class="bold">Teacher: </span>Mr. Doe</p>
                            <p><span class="bold">Assignments due: </span>3</p>
                            <p><span class="bold">Overdue: </span>1</p>
                        </div>
                    </div>
                </div>
                
                <div class="tile is-vertical is-parent">
                    <div class="tile is-child">
                        <div class="box class-group">
                            <p class="title">Geography</p>
                            <p><span class="bold">Teacher: </span>Ms. Doe</p>
                            <p><span class="bold">Assignments due: </span>1</p>
                            <p><span class="bold">Overdue: </span>6</p>
                        </div>
                    </div>
                </div>

                
            
            </div>

        </section>
    </div>

{% endblock %}