{% extends "layout.html" %}

{% block title %}
    Teacher Home
{% endblock %}

{% block main %}
        <section class="section" style="background-color: hsl(171, 100%, 41%);">
            <h1 class="title">Welcome, {{ user_info.suffix }} {{ user_info.surname.capitalize() }}</h1>
            <p><span class="bold">Username: </span>{{ user_info.username }}</p>
            <!-- <p><span class="bold">Assignments received since last login: </span>3</p> # TODO -->
        </section>

        <section class="section" style="background-color:#f5f5f5">
            <h1 class="title">Your classes</h1>

            <div class="block">
                <button id="create-class-btn" class="button is-primary" name="create_class" value="teacher">
                    <span class="icon">
                        <i class="fa-solid fa-plus"></i>
                    </span>
                    <span>Create a class</span>
                </button>
            </div>

            <div class="tile is-ancestor">
                <div class="tile is-vertical is-parent">
                    {% for class in classes %}
                        <div class="tile is-child">
                            <a href="/teacher/class/{{ class.id }}">
                                <div class="box class-group">
                                    <p class="title">{{ class.title }}</p>
                                    <p><span class="bold">No. of students: </span>{{ class.class_size }}</p>
                                    <p><span class="bold">No. of assignments due: </span>TODO</p>
                                </div>
                            </a> 
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

{% endblock %}