{% extends "layout.html" %}

{% block title %}
Student Home
{% endblock %}

{% block main %}
<section class="section" style="background-color: hsl(171, 100%, 41%);">
  <h1 class="title">Welcome, {{ user_info.first_name.capitalize() }}</h1>
  <p><span class="bold">Username: </span>{{ user_info.username }}</p>
  <p><span class="bold">Year group: </span>{{ user_info.year_group }}{{ user_info.section }}</p>
</section>

<section class="section" style="background-color: #f5f5f5;">
  <div class="block">

    {% include "flash.html" %}

    <div class="block">
      <button id="btn-js" class="button is-primary" name="join-class">
        <span class="icon">
          <i class="fa-solid fa-plus"></i>
        </span>
        <span>Join class</span>
      </button>
    </div>

    <div id="form-js" style="display: none;">
      <form action="/join-class" method="post">
        <div class="field">
          <label for="" class="label">Class code</label>
          <input name="class-code" type="text" class="input" placeholder="Code">
        </div>

        <div class="control">
          <input type="submit" value="Join" class="button is-primary">
        </div>
      </form>
    </div>
  </div>

  <h1 class="title">Your classes</h2>
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-parent">
        {% for class in classes %}
        <div class="tile is-child">
          <a href="/student/class/{{ class.id }}">
            <div class="box class-group">
              <p class="title">{{ class.title }}</p>
              <p><span class="bold">Teacher: </span>{{ class.teacher_first_name.capitalize() }}
                {{ class.teacher_surname.capitalize() }}</p>
              <p><span class="bold">Subject: </span>{{ class.subject }}</p>
              <!-- <p><span class="bold">Assignments due: </span>TODO</p>
                                    <p><span class="bold">Overdue: </span>TODO</p>   -->
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
</section>

<script src="{{ url_for('static', filename='js/btn_show_form.js') }}"></script>
{% endblock %}