{% extends "layout.html" %}

{% block title %}
    Teacher Home
{% endblock %}

{% block main %}
    <!-- <div class="nocontainer is-fluid"> -->
        <section class="section" style="background-color: hsl(171, 100%, 41%);">
            <h1 class="title">Welcome, {{ user_info.suffix }} {{ user_info.surname.capitalize() }}</h1>
            <p><span class="bold">Username: </span>{{ user_info.username }}</p>
            <p><span class="bold">Assignments received since last login: </span>3</p> # TODO
        </section>

        <section class="section">
            <h1 class="title">Your classes</h1>
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-parent">
                    <div class="tile is-child">
                        <div class="box class-group">
                            <p class="title">Maths <span class="not-bold">Year 9A</span></p>
                            <p><span class="bold">No. of students: </span>18</p>
                            <p><span class="bold">No. of due assignments: </span>1</p>
                            <p><span class="bold">No. of assignments received since last login: </span>4</p>
                        </div>
                    </div>

                    <div class="tile is-child">
                        <div class="box class-group">
                            <p class="title">Biology <span class="not-bold">Year 11B</span></p>
                            <p><span class="bold">No. of students: </span>21</p>
                            <p><span class="bold">No. of assignments due: </span>2</p>
                            <p><span class="bold">No. of assignments received since last login: </span>8</p>
                        </div>
                    </div>
                </div>
                
                <div class="tile is-vertical is-parent">
                    <div class="tile is-child">
                        <div class="box class-group">
                            <p class="title">Geography <span class="not-bold">Year 12</span></p>
                            <p><span class="bold">No. of students: </span>4</p>
                            <p><span class="bold">No. of assignments due: </span>0</p>
                            <p><span class="bold">No. of assignments received since last login: </span>0</p> # TODO
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- </div> -->

{% endblock %}